.Header {
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  border-bottom: 1px solid #f0f0f0;
}

.Header > img {
  margin: 0 auto;
  height: 100%;
}
