#root {
  max-width: 620px;
  min-width: 360px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

.home_wrap {
  margin: 4rem 2rem 0 2rem;
}

.home_submit {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home_submit > button {
  margin-top: 2rem;
}

.description {
  font-size: 1rem;
  color: #8f8f8f;
  margin-top: 2rem;
}
